<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- see ApplicationInitializers
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    s-->
    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>

    <listener>
        <listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>
            com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>
   
	<servlet>
		<servlet-name>Very Simple</servlet-name>
		<servlet-class>at.cgsit.training.servlets.SimpleServletFour</servlet-class>
	</servlet>
    <servlet-mapping>	
        <servlet-name>Very Simple</servlet-name>
        <url-pattern>/simple-servlet-four</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>soap</servlet-name>
        <servlet-class>
            com.sun.xml.ws.transport.http.servlet.WSServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>	
        <servlet-name>soap</servlet-name>
        <url-pattern>/api/soap</url-pattern>
    </servlet-mapping>

    <!--
    <error-page>
        <location>/general-error.jsp</location>
    </error-page>
    -->

</web-app>
